<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-question">
            <dt><i class="Hui-iconfont">&#xe6f3;</i> 试题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/questionChoice/questionList')}" data-title="选择题列表" href="javascript:">选择题列表</a></li>
                    <li><a data-href="{:url('admin/questionChoice/disabledList')}" data-title="禁用的试题" href="javascript:">禁用的试题</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-paper">
            <dt><i class="Hui-iconfont">&#xe616;</i> 试卷管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/paper/add')}" data-title="添加试卷" href="javascript:">添加试卷</a></li>
                    <li><a data-href="{:url('admin/paper/paperList')}" data-title="试卷列表" href="javascript:">试卷列表</a></li>
                    <li><a data-href="{:url('admin/paper/deletedList')}" data-title="删除的试卷" href="javascript:">删除的试卷</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe6bf;</i> 考试管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/test/listAll')}" data-title="所有考试" href="javascript:">考试列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 考生管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/candidates/listAll')}" data-title="考生列表" href="javascript:">考生列表</a></li>
                    <li><a data-href="{:url('admin/candidates/deletedCandidates')}" data-title="删除的会员" href="javascript:">删除的考生</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-analysis">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 数据分析<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/analysis/dataEntry')}" data-title="数据录入" href="javascript:">数据录入</a></li>
                    <li><a data-href="{:url('admin/analysis/dataList')}" data-title="交易数据[全部]" href="javascript:">交易数据[全部]</a></li>
                    <li><a data-href="{:url('admin/analysis/dataListFilter')}" data-title="交易数据[筛选]" href="javascript:">交易数据[筛选]</a></li>
                    <li><a data-href="{:url('admin/analysis/dataListByDay')}" data-title="交易数据[按天汇总]" href="javascript:">交易数据[按天汇总]</a></li>
                    <li><a data-href="{:url('admin/analysis/analysisResultArea')}" data-title="按地区分析" href="javascript:">按地区分析</a></li>
                    <li><a data-href="{:url('admin/analysis/analysisResultBrand')}" data-title="按品牌分析" href="javascript:">按品牌分析</a></li>
                    <li><a data-href="{:url('admin/analysis/analysisResultNature')}" data-title="按油厂性质分析" href="javascript:">按油厂性质分析</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a data-href="admin-list.html" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
                    <li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
                    <li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
                    <li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
                    <li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
                    <li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
                    <li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                    <li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
                    <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
                    <li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
                    <li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>