.bg-1 {
  background-color: #f2f2f2;
}
/*th带背景*/
.table-bg thead th {
  background-color: #f6f6f6;
}
.input-score .candidate_name {
  position: relative;
}
.input-score .tip {
  position: absolute;
  top: 42px;
  left: 8px;
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
  display: none;
  z-index: 100;
}
.input-score .tip li {
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 5px;
}
.input-score .tip li span {
  display: inline-block;
  width: 86px;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}
.input-score .tip li a {
  display: inline-block;
  width: 100px;
}
.input-score .tip li a:hover {
  text-decoration: none;
}
.input-score .tip li:hover {
  background: #e2e2e2;
}
.input-score .tip li:hover span {
  border-right: 1px solid #f6f6f6;
}
